@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --base-tint--dark: #161616;
  --stroke-elements--dark: #303033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
    --base-tint--dark: #161616;
    --stroke-elements--dark: #303033;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.backgroundSecondary {
  background: var(--base-tint--dark);
  border: 1px solid var(--stroke-elements--dark);
}

.radius {
  border-radius: 2rem;

}

.profile {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-bottom: 0.8rem;
}

.avatar-profile{
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: 400px;
  height: -moz-calc(100% - 4rem);
  height: calc(100% - 4rem);
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.scroll-indicator {
  position: absolute;
  bottom: var(--spacing-xl);
  right: var(--spacing-xl);
  width: 100px;
  height: 100px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* 


<-------------------- Botones ------------------>
 

*/

.button-elegant {
  padding: 15px 15px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.button-elegant::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.button-elegant:hover::after {
  transform: scale(4);
}

.button-elegant:hover {
  border-color: #666666;
  background: #292929;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.button-profile {
  display: block;
  margin:auto;
/*   width: 350px;
  height: 55px; */
  border-radius: 50px;
  background-image: linear-gradient(135deg, #b09ffc  0%, #6d60ff  100%);
/*   box-shadow: 0 10px 20px -6px rgba(238, 103, 97, 0.5); */
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.button-profile:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.button-profile:active {
  opacity: 0.5;
}




/* 


 <-------------------- Background gradiente ------------------>
 

*/
.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.blur {
  position: absolute;
  z-index: 1;
  -moz-border-radius: 900px;
       border-radius: 900px;
  -webkit-filter: blur(clamp(40px, 7vw, 90px));
          filter: blur(clamp(40px, 7vw, 90px));
}
.blur:nth-of-type(1) {
  background: var(--gradient-one);
  height: clamp(400px, 20vw, 60vw);
  width: -moz-calc(clamp(400px, 30vw, 70vw) * 1.1);
  width: calc(clamp(400px, 30vw, 70vw) * 1.1);
  top: -10vh;
  right: -5vw;
}
.blur:nth-of-type(2) {
  background: var(--gradient-two);
  height: clamp(300px, 16vw, 46vw);
  width: -moz-calc(clamp(300px, 16vw, 56vw) * 0.75);
  width: calc(clamp(300px, 16vw, 56vw) * 0.75);
  top: 5vh;
  right: 0vw;
}
.blur:nth-of-type(3) {
  background: var(--gradient-three);
  height: clamp(100px, 20vw, 20vw);
  width: -moz-calc(clamp(100px, 20vw, 20vw) * 2);
  width: calc(clamp(100px, 20vw, 20vw) * 2);
  top: -10vh;
  left: -10vw;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-position: center center;
  -moz-background-size: cover;
       background-size: cover;
  background-repeat: no-repeat;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.svg-background.loaded .background__svg01 svg {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.svg-background.loaded .background__svg02 svg {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.background__svg01 {
  position: absolute;
  top: -15vh;
  right: -30vw;
  width: 320px;
  height: 320px;
}
.background__svg01 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(50px, -50px, 0);
     -moz-transform: translate3d(50px, -50px, 0);
          transform: translate3d(50px, -50px, 0);
  -webkit-transition: opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier);
  transition: opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier);
  -moz-transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier), -moz-transform 0.8s var(--_animbezier);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier), -moz-transform 0.8s var(--_animbezier);
}
@media only screen and (min-width: 768px) {
  .background__svg01 {
    top: -15vh;
    right: -10vw;
    width: 465px;
    height: 465px;
  }
}
@media only screen and (min-width: 992px) {
  .background__svg01 {
    top: -17vh;
    right: -8vw;
  }
}
@media only screen and (min-width: 1200px) {
  .background__svg01 {
    top: -25vh;
    right: -6vw;
    width: 580px;
    height: 580px;
  }
}
@media only screen and (min-width: 1400px) {
  .background__svg01 {
    top: -25vh;
    right: -8vw;
    width: 680px;
    height: 680px;
  }
}
@media only screen and (min-width: 1600px) {
  .background__svg01 {
    top: -45vh;
    right: -5vw;
    width: 880px;
    height: 880px;
  }
}

.background__svg02 {
  position: absolute;
  top: 60vh;
  left: -40vw;
  width: 320px;
  height: 320px;
}
.background__svg02 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(-50px, 50px, 0);
     -moz-transform: translate3d(-50px, 50px, 0);
          transform: translate3d(-50px, 50px, 0);
  -webkit-transition: opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier);
  transition: opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier);
  -moz-transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier), -moz-transform 0.8s var(--_animbezier);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier), -webkit-transform 0.8s var(--_animbezier), -moz-transform 0.8s var(--_animbezier);
}
@media only screen and (min-width: 768px) {
  .background__svg02 {
    top: 70vh;
    left: -20vw;
  }
}
@media only screen and (min-width: 992px) {
  .background__svg02 {
    top: 70vh;
    left: -8vw;
  }
}
@media only screen and (min-width: 1400px) {
  .background__svg02 {
    top: 60vh;
    left: -8vw;
    width: 425px;
    height: 425px;
  }
}