@import "tailwindcss";

:root {
  --background: #060010;
  --foreground: #171717;
}

@theme inline {

  --base-tint--dark: #161616;
  --stroke-elements--dark: #271e37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060010;
    --foreground: #ededed;
    --base-tint--dark: #060010;
    --stroke-elements--dark: #271e37;
    --color-principal: rgba(159, 154, 255, 0.692);
    --color-secondary: rgba(102, 0, 255, 0.397);
    --color-tertiary: rgba(134, 102, 180, 0.596);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree", sans-serif;
}

/* .animated-background {
  background: linear-gradient(225deg, #2d1a3d, #583d7c, #341b47);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
 */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.colorPrincipal {
  background: #ffffff00;
}

.backgroundSecondary {
  background: var(--base-tint--dark);
  border: 1px solid var(--stroke-elements--dark);
  box-shadow: 0 100px 100px -50px #5227ff1a;
}

.radius {
  border-radius: 2rem !important;

}

.profile {
  /*    border: 0.2px solid #392e4e !important; */
  box-shadow: 0 80px 100px -50px #5227ff1a;
}



.scroll-indicator {
  position: absolute;

  right: 4rem;
  width: 100px;
  height: 100px;

  top: 43rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.shiny-button {
  font-size: 13px;
  background-color: #111;
  border: 1px solid #353535;
  border-radius: 50px;
  padding: .6em 1.2em;
  transition: all .3s;

}



.meet-button {
  border-radius: 18px;
  padding: 8px 12px;
  border: 0.5px solid #8f8d96;
  font-size: 12px;
  background: #111111;
}

.hero-title {
  font: normal 700 3.8rem;
  color: #6b5ea1;
  background: #6b5ea1;
  background: linear-gradient(90deg, #8660fa, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paddingContainer {
  padding: 0rem 2rem 2rem 0rem;
  /* Para pantallas pequeñas */
}

@media (min-width: 640px) {
  .paddingContainer {
    padding: 0rem 4rem 2rem 0rem;
    /* Para pantallas medianas (sm) */
  }
}

@media (min-width: 768px) {
  .paddingContainer {
    padding: 0rem 6rem 2rem 0rem;
    /* Para pantallas grandes (md) */
  }
}

@media (min-width: 1024px) {
  .paddingContainer {
    padding: 0rem 10rem 2rem 0rem;
    /* Para pantallas extra grandes (lg) */
  }

  .backgroundCardPort,
  .backgroundCardPortTwo {
    background-size: cover;
    /* ahora se adapta mejor al contenedor */
    background-position: center;
  }
}


/* 


<-------------------- Botones ------------------>
 

*/

.button-elegant {
  padding: 15px 15px;
  background: #2e194e !important;
  border: 1px solid #392e4e !important;
  color: #b19eef;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;

}

.button-elegant::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      #ffffff40 0%,
      #ffffff00 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.button-elegant:hover::after {
  transform: scale(4);
}

.button-elegant:hover {
  border-color: #666666;
  background: #392e4e;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Figtree", sans-serif;
}

.backgroundButtons {
  background: #111111 !important;
  border: 1px solid #392e4e !important;
  margin-right: 10px !important;
}



.backgroundTools {
  box-shadow: 1px 5px 100px 0px #5227ff1a;
  border: 1px solid #392e4e !important;
}






.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #441f63;
  /* gray-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
  /* gray-500 */
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}




/* 


 <-------------------- Background gradiente ------------------>
 */

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.blur {
  position: absolute;
  z-index: 1;
  border-radius: 900px;
  filter: blur(clamp(40px, 7vw, 90px));
  animation: floatAndRotate 12s ease-in-out infinite;
}


.blur:nth-of-type(1) {
  background: var(--color-secondary);
  height: clamp(400px, 20vw, 60vw);
  width: calc(clamp(400px, 30vw, 70vw) * 1.1);
  top: -20vh;
  right: -5vw;
}

.blur:nth-of-type(2) {
  background: var(--color-tertiary);
  height: clamp(300px, 16vw, 46vw);
  width: calc(clamp(300px, 16vw, 56vw) * 0.75);
  top: 5vh;
  right: 0;
}

.blur:nth-of-type(3) {
  background: var(--color-principal);
  height: clamp(100px, 20vw, 20vw);
  width: calc(clamp(100px, 20vw, 20vw) * 2);
  top: -10vh;
  left: -20vw;
}

/* Fondo con imagen */
.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SVGs animados */
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svg-background.loaded .background__svg01 svg,
.svg-background.loaded .background__svg02 svg {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* SVG 1 */
.background__svg01 {
  position: absolute;
  top: -15vh;
  right: -30vw;
  width: 320px;
  height: 320px;
}

.background__svg01 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(50px, -50px, 0);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
}

/* SVG 2 */
.background__svg02 {
  position: absolute;
  top: 60vh;
  left: -40vw;
  width: 320px;
  height: 320px;
}

.background__svg02 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(-50px, 50px, 0);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
}

/* Media queries optimizadas */

@media (max-width: 760px) {
  .overflow-mobile {
    overflow-y: auto;
  }

  .navBar {
    display: none;
  }
}

@media (min-width: 768px) {
  .background__svg01 {
    top: -15vh;
    right: -10vw;
    width: 465px;
    height: 465px;
  }

  .background__svg02 {
    top: 70vh;
    left: -20vw;
  }
}

@media (min-width: 992px) {
  .background__svg01 {
    top: -17vh;
    right: -8vw;
  }

  .background__svg02 {
    left: -8vw;
  }
}

@media (min-width: 1200px) {
  .background__svg01 {
    top: -25vh;
    right: -6vw;
    width: 580px;
    height: 580px;
  }
}

@media (min-width: 1400px) {
  .background__svg01 {
    top: -25vh;
    right: -8vw;
    width: 680px;
    height: 680px;
  }

  .background__svg02 {
    top: 60vh;
    width: 425px;
    height: 425px;
  }
}

@media (min-width: 1600px) {
  .background__svg01 {
    top: -45vh;
    right: -5vw;
    width: 880px;
    height: 880px;
  }
}

/* @keyframes floatAndRotate {
  0% {
    transform: translate3d(0px, 0px, 0) rotate(10deg);
  }
  50% {
    transform: translate3d(30px, -20px, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(10px, 0px, 0) rotate(10deg);
  }
}

 */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0.5rem;
}

.leftColumn {
  /* Se mostrará en mobile */
}

.rightColumn {
  height: 100%;
  overflow-y: auto;
  padding-left: 1rem;
}

/* Media query para pantallas medianas (md) y superiores */
@media (min-width: 768px) {



  .container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
  }

  .leftColumn {
    position: relative;
  }

  .leftColumn>div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35%;
    z-index: 10;
  }

  .rightColumn {
    height: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}




::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(10deg, rgb(136, 130, 252) 0%, rgba(102, 0, 255, 1) 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* @media (min-width: 1280px) {
  .backgroundCardPort,
  .backgroundCardPortTwo {
    height: 680px;
  }
} */



/* Loading */ 
.loader-wrapper.center-viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-wrapper.center-viewport {
  position: fixed; /* usa fixed para centrar respecto al viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 9999;
}

.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;

  font-size: 1.2em;
  font-weight: 300;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  user-select: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 2s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #d60a47 inset,
      0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0.4;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
  z-index: 1;
  border-radius: 50ch;
  border: none;
}

.loader-letter:nth-child(1) {
  animation-delay: 0s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.8s;
}
.loader-letter:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}



.scroll-transparent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scroll-transparent {
  -ms-overflow-style: none; /* IE y Edge antiguos */
  scrollbar-width: none; /* Firefox */
}