@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  --base-tint--dark: #161616;
  --stroke-elements--dark: #303033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
    --base-tint--dark: #161616;
    --stroke-elements--dark: #303033;
    --color-principal: rgba(159, 154, 255, 0.692) ;
    --color-secondary: rgba(102, 0, 255, 0.397);
    --color-tertiary: rgba(134, 102, 180, 0.596);
  } 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

/* .animated-background {
  background: linear-gradient(225deg, #2d1a3d, #583d7c, #341b47);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
 */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.colorPrincipal{
  background: #ffffff00;
}
.backgroundSecondary {
  background: var(--base-tint--dark);
  border: 1px solid var(--stroke-elements--dark);
}

.radius {
  border-radius: 2rem !important;

}

.profile {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-bottom: 0.8rem;
}

.avatar-profile {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: 400px;
  height: -moz-calc(100% - 4rem);
  height: calc(100% - 4rem);
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.scroll-indicator {
  position: absolute;

  right: 4rem;
  width: 100px;
  height: 100px;

  top: 43rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.meet-button {
  border-radius: 18px;
  padding: 8px 12px;
  border: 0.5px solid #8f8d96;
  font-size: 12px;
  background: #111111;
}

.hero-title {
  font: normal 700 3.8rem;
  color: #6b5ea1;
  background: #6b5ea1;
  background: linear-gradient(90deg, rgb(159, 154, 255) 0%, rgba(102, 0, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paddingContainer {
  padding: 0rem 2rem 2rem 0rem; /* Para pantallas pequeñas */
}

@media (min-width: 640px) {
  .paddingContainer {
    padding: 0rem 4rem 2rem 0rem; /* Para pantallas medianas (sm) */
  }
}

@media (min-width: 768px) {
  .paddingContainer {
    padding: 0rem 6rem 2rem 0rem; /* Para pantallas grandes (md) */
  }
}

@media (min-width: 1024px) {
  .paddingContainer {
    padding: 0rem 10rem 2rem 0rem; /* Para pantallas extra grandes (lg) */
  }
}


/* 


<-------------------- Botones ------------------>
 

*/

.button-elegant {
  padding: 15px 15px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.button-elegant::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.button-elegant:hover::after {
  transform: scale(4);
}

.button-elegant:hover {
  border-color: #666666;
  background: #292929;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.backgroundButtons {
  background: #111111 !important;
  border: 1px solid #474747 !important;
  margin-right: 10px !important;
}


.backgroundCardPort {
  border-radius: 2rem;
  width: 100%;
/*   height: 100%; */
  background-size: 100% 100%;
  background-image: url("https://i.pinimg.com/736x/7b/ba/94/7bba9438553554af7ffdd005974016bc.jpg");
}

.backgroundCardPortTwo {
  border-radius: 2rem;
  width: 100%;
/*   height: 100%; */
  background-size: 100% 100%;
  background-image: url("https://i.pinimg.com/736x/7b/ba/94/7bba9438553554af7ffdd005974016bc.jpg");
}

.backgroundDivAbout {
  background-color: rgba(36, 40, 50, 1);
  border-radius: 2rem;
/*   border: 1px solid #474747 !important; */
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, #161616 0% 0%, #2d175f15 100%);
  align-items: center;
}


.backgroundTools{
  background-image: linear-gradient(0deg, #161616 0% 0%, #2e2e2e29 100%);
}






.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #441f63; /* gray-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}




/* 


 <-------------------- Background gradiente ------------------>
 */

 .gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.blur {
  position: absolute;
  z-index: 1;
  border-radius: 900px;
  filter: blur(clamp(40px, 7vw, 90px));
  animation: floatAndRotate 12s ease-in-out infinite;
}


.blur:nth-of-type(1) {
  background: var(--color-secondary);
  height: clamp(400px, 20vw, 60vw);
  width: calc(clamp(400px, 30vw, 70vw) * 1.1);
  top: -20vh;
  right: -5vw;
}

.blur:nth-of-type(2) {
  background: var(--color-tertiary);
  height: clamp(300px, 16vw, 46vw);
  width: calc(clamp(300px, 16vw, 56vw) * 0.75);
  top: 5vh;
  right: 0;
}

.blur:nth-of-type(3) {
  background:var(--color-principal);
  height: clamp(100px, 20vw, 20vw);
  width: calc(clamp(100px, 20vw, 20vw) * 2);
  top: -10vh;
  left: -20vw;
}

/* Fondo con imagen */
.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SVGs animados */
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svg-background.loaded .background__svg01 svg,
.svg-background.loaded .background__svg02 svg {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* SVG 1 */
.background__svg01 {
  position: absolute;
  top: -15vh;
  right: -30vw;
  width: 320px;
  height: 320px;
}
.background__svg01 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(50px, -50px, 0);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
}

/* SVG 2 */
.background__svg02 {
  position: absolute;
  top: 60vh;
  left: -40vw;
  width: 320px;
  height: 320px;
}
.background__svg02 svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(-50px, 50px, 0);
  transition: transform 0.8s var(--_animbezier), opacity 0.8s var(--_animbezier);
}

/* Media queries optimizadas */
@media (min-width: 768px) {
  .background__svg01 {
    top: -15vh;
    right: -10vw;
    width: 465px;
    height: 465px;
  }
  .background__svg02 {
    top: 70vh;
    left: -20vw;
  }
}
@media (min-width: 992px) {
  .background__svg01 {
    top: -17vh;
    right: -8vw;
  }
  .background__svg02 {
    left: -8vw;
  }
}
@media (min-width: 1200px) {
  .background__svg01 {
    top: -25vh;
    right: -6vw;
    width: 580px;
    height: 580px;
  }
}
@media (min-width: 1400px) {
  .background__svg01 {
    top: -25vh;
    right: -8vw;
    width: 680px;
    height: 680px;
  }
  .background__svg02 {
    top: 60vh;
    width: 425px;
    height: 425px;
  }
}
@media (min-width: 1600px) {
  .background__svg01 {
    top: -45vh;
    right: -5vw;
    width: 880px;
    height: 880px;
  }
}
/* @keyframes floatAndRotate {
  0% {
    transform: translate3d(0px, 0px, 0) rotate(10deg);
  }
  50% {
    transform: translate3d(30px, -20px, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(10px, 0px, 0) rotate(10deg);
  }
}

 */