
.button-profile {
    display: block;
    margin:auto;
  /*   width: 350px;
    height: 55px; */
    border-radius: 50px;
    background-image: linear-gradient(135deg, #b09ffc  0%, #6d60ff  100%);
  /*   box-shadow: 0 10px 20px -6px rgba(238, 103, 97, 0.5); */
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  
  .button-profile:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .button-profile:active {
    opacity: 0.5;
  }
  