.button-profile {
  display: block;
  background-color: #2e194e;
  outline: none;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: #b19eef;
  letter-spacing: 0.5px;
  font-weight: 500;
  border: 1px solid #392e4e !important;
}

.button-profile:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.button-profile:active {
  opacity: 0.5;
}